graft src

prune config
prune docs
prune requirements
prune scripts
prune tests

exclude * .*

include setup.py
include setup.cfg
include MANIFEST.in
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

global-exclude *.py[cod] __pycache__ *.so *.dylib
